/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  font-family: "Young Serif", serif;
  font-size: 16px;
}

/* MAIN CONTENT */
img {
  width: 100%;
}

.container {
  padding: 30px;
}

h1 {
  line-height: 35px;
}

.container p {
  margin: 20px 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 20px;
}

/* PREPARATION TIME */
.preparation-time {
  background-color: hsl(330, 100%, 98%);
  padding: 20px;
  border-radius: 10px;
  font-size: 0.9rem;
  font-family: "Outfit", sans-serif;
  margin: 25px 0;
}

.preparation-time h3 {
  color: hsl(332, 51%, 32%);
  font-size: 20px;
}

.preparation-time ul {
  opacity: 0.7;
  margin: 20px 0 20px 10px;
  margin-bottom: 0;
  width: 70%;
}

.preparation-time li {
  margin-top: 10px;
}

.preparation-time span,
.ingredients-container span {
  position: relative;
  left: 20px;
  max-width: 260px;
}

/* INGREDIENTS SECTION */

h2 {
  color: hsl(14, 45%, 36%);
  margin: 20px 0;
  font-weight: 400;
}

.ingredients-container {
  margin: 20px 0 20px 5px;
  width: 85%;
  font-family: "Outfit", sans-serif;
  opacity: 0.7;
  line-height: 30px;
}

.ingredients-container li,
.preparation-time li {
  display: flex;
  align-items: center;
}

.ingredients-container li::before,
.preparation-time li::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: black;
}

hr {
  opacity: 0.3;
}

/* INSTRUCTIONS SECTION */
.instructions-container ol {
  margin-left: 20px;
  color: hsl(14, 45%, 36%);
  font-weight: 700;
  width: 85%;
  font-family: "Outfit", sans-serif;
  line-height: 30px;
  margin-bottom: 25px;
}

.instructions-container li {
  margin-bottom: 5px;
}

.instructions-point {
  position: relative;
  left: 15px;
}

.instruction-text {
  color: black;
  opacity: 0.6;
  font-weight: 400;
}

.instructions-container b {
  color: black;
  opacity: 0.7;
}

/* FOOTER */
footer {
  width: 80%;
  margin: 20px auto;
  text-align: center;
  align-items: center;
}
